.admin-bar .main-navigation .menu-header-container, .admin-bar .main-navigation .search-menu{
	top: 32 + 78 * 1px;
}

.main-navigation {
	display: block;
	float: left;
	font-size: 15px;
	letter-spacing: 4.5px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: $font__header;
	text-align:right;
	line-height:30px;

	.search{
		display:inline-block;
		background-color:transparent;
		border:0;
		cursor:pointer;
		float:right;
		margin-top:20px;
		margin-right:20px;
		&:after{
			content: "\e949";
			font-size: 22px;
			font-family: 'bmk',sans-serif;
			color: #aeb7c0;
		}
	}

	.hamburger-menu{
		line-height:78px;
		display:inline-block;
		float:right;
	}
	.hamburger:after{
		content:"\f0c9";
		font-family: "Font Awesome 5 Free",sans-serif;
		font-size:30px;
		float:right;
	}

	.menu-header-container, .search-menu{
		display:none;
		position:fixed;
		width:100%;
		height:100%;
		background-color:rgba(21,59,87,.85);
		top:78px;
		left:0;
		z-index:100;
	}

	&.open-menu{
		.hamburger:after{
			content:"\f00d";
		}
		.menu-header-container{
			display:block;
		}
	}

	&.open-search{
		.search:after{
			font-family: "Font Awesome 5 Free",sans-serif;
			content:"\f00d";
		}
		.search-menu{
			display:block;
		}
	}

	.search-form{
		margin-top:10%;
		text-align:center;
		.search-field{
			background-color:transparent;
			border:0;
			border-bottom:3px solid #f26b21;
			font-size:50px;
			text-align:center;
			color:white;
			outline:none;
			&::placeholder{
				color:white;
				opacity:.9;
			}
		}
		.search-submit{
			display:none;
		}
	}

	a {
		margin:0 10px;
		color: $color__link-header;
		border-bottom:3px solid transparent;
		-webkit-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		&:hover{
			color: $color__link-header-hover;
			border-bottom:3px solid #f26b21;
		}
	}

	ul {
		list-style: none;
		padding-left: 0;
		text-align:center;
		margin:10% 0 0 0;
		font-size:30px;
		line-height:30px;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		margin-top:20px;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

@media screen and (max-width: 767px) {
	.main-navigation {
		a{
			margin:0 5px;
		}
		.hamburger span{
			display:none;
		}
		.search{
			margin-right:0;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
