*,
::before,
::after {
box-sizing: border-box; border-width: 0; border-style: solid; border-color: #e5e7eb; }
::before,
::after {
--tw-content: '';
} html {
line-height: 1.5; -webkit-text-size-adjust: 100%; -moz-tab-size: 4; -o-tab-size: 4;
tab-size: 4; font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; } body {
margin: 0; line-height: inherit; } hr {
height: 0; color: inherit; border-top-width: 1px; } abbr:where([title]) {
-webkit-text-decoration: underline dotted;
text-decoration: underline dotted;
} h1,
h2,
h3,
h4,
h5,
h6 {
font-size: inherit;
font-weight: inherit;
} a {
color: inherit;
text-decoration: inherit;
} b,
strong {
font-weight: bolder;
} code,
kbd,
samp,
pre {
font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; font-size: 1em; } small {
font-size: 80%;
} sub,
sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}
sub {
bottom: -0.25em;
}
sup {
top: -0.5em;
} table {
text-indent: 0; border-color: inherit; border-collapse: collapse; } button,
input,
optgroup,
select,
textarea {
font-family: inherit; font-size: 100%; line-height: inherit; color: inherit; margin: 0; padding: 0; } button,
select {
text-transform: none;
} button,
[type='button'],
[type='reset'],
[type='submit'] {
-webkit-appearance: button; background-color: transparent; background-image: none; } :-moz-focusring {
outline: auto;
} :-moz-ui-invalid {
box-shadow: none;
} progress {
vertical-align: baseline;
} ::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
height: auto;
} [type='search'] {
-webkit-appearance: textfield; outline-offset: -2px; } ::-webkit-search-decoration {
-webkit-appearance: none;
} ::-webkit-file-upload-button {
-webkit-appearance: button; font: inherit; } summary {
display: list-item;
} blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
margin: 0;
}
fieldset {
margin: 0;
padding: 0;
}
legend {
padding: 0;
}
ol,
ul,
menu {
list-style: none;
margin: 0;
padding: 0;
} textarea {
resize: vertical;
} input::-moz-placeholder, textarea::-moz-placeholder {
opacity: 1; color: #9ca3af; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
opacity: 1; color: #9ca3af; }
input::placeholder,
textarea::placeholder {
opacity: 1; color: #9ca3af; } button,
[role="button"] {
cursor: pointer;
} :disabled {
cursor: default;
} img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
display: block; vertical-align: middle; } img,
video {
max-width: 100%;
height: auto;
} [hidden] {
display: none;
}
footer .menu .menu-item a {
margin-bottom: 0.5rem;
display: block;
padding-left: 1rem;
font-family: Gotham Book, sans-serif;
font-size: 16px;
font-weight: 400;
}
footer .menu .menu-item a:hover {
-webkit-text-decoration-line: underline;
text-decoration-line: underline;
}
@media (min-width: 1024px) {
footer .menu .menu-item a {
padding-left: 0px;
}
}
.wp-block-social-links {
margin-top: 1rem;
}
.single-post .main-content-area {
width: 100%;
}
.single-post  .entry-content {
margin-left: auto;
margin-right: auto;
max-width: 1280px;
}
.single-post  .entry-header .entry-title {
position: absolute;
left: 0px;
right: 0px;
top: 45%;
z-index: 10;
margin-left: auto;
margin-right: auto;
margin-top: 1rem;
max-width: 340px;
text-align: center;
font-family: Gotham Bold, sans-serif;
font-size: 22px;
font-weight: 700;
text-transform: uppercase;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (min-width: 1024px) {
.single-post  .entry-header .entry-title {
top: 50%;
}
.single-post  .entry-header .entry-title {
max-width: 570px;
}
.single-post  .entry-header .entry-title {
font-size: 26px;
}
}
.single-post .post-thumbnail {
position: relative;
}
.single-post header.entry-header {
position: absolute;
margin-top: 1.5rem;
display: flex;
width: 100%;
flex-direction: column-reverse;
text-align: center;
}
@media (min-width: 1024px) {
.single-post header.entry-header {
top: 400px;
}
}
.single-post header.entry-header .entry-meta {
margin-left: auto;
margin-right: auto;
display: flex;
padding-bottom: 1.25rem;
text-align: center;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
.single-post .posted-on {
padding-right: 0.625rem;
}
.single-post .categories {
display: flex;
flex-direction: row;
}
.single-post .categories li {
padding-right: 0.625rem;
}
.single-post .comment-count {
display: none;
}
.single-post .entry-content h1 {
margin-left: auto;
margin-right: auto;
max-width: 750px;
padding-top: 1.5rem;
padding-bottom: 1.5rem;
font-family: Gotham Bold, sans-serif;
font-size: 38px;
font-weight: 700;
line-height: 2.25rem;
letter-spacing: 0.22px;
--tw-text-opacity: 1;
color: rgb(36 36 36 / var(--tw-text-opacity));
}
.single-post .entry-content h2 {
margin-left: auto;
margin-right: auto;
max-width: 750px;
padding-top: 1.5rem;
padding-bottom: 1.5rem;
font-family: Gotham Bold, sans-serif;
font-size: 32px;
font-weight: 700;
line-height: 2.25rem;
letter-spacing: 0.22px;
--tw-text-opacity: 1;
color: rgb(36 36 36 / var(--tw-text-opacity));
}
.single-post .entry-content h3 {
margin-left: auto;
margin-right: auto;
max-width: 750px;
padding-top: 1.5rem;
padding-bottom: 1.5rem;
font-family: Gotham Bold, sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 2.25rem;
letter-spacing: 0.22px;
--tw-text-opacity: 1;
color: rgb(36 36 36 / var(--tw-text-opacity));
}
.single-post .entry-content p {
margin-left: auto;
margin-right: auto;
max-width: 750px;
padding-top: 0.625rem;
padding-bottom: 0.625rem;
}
.single-post .entry-content .wp-block-image figcaption {
padding-top: 0.375rem;
text-align: center;
font-family: Gotham Book, sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 1.25rem;
letter-spacing: 0.22px;
--tw-text-opacity: 1;
color: rgb(36 36 36 / var(--tw-text-opacity));
}
.single-post .entry-footer {
margin-left: auto;
margin-right: auto;
display: flex;
max-width: 1280px;
flex-direction: column;
}
.single-post .comments-area, .single-post .nav-links, .single-post .entry-footer {
display: none;
}
.related-articles {
margin-left: auto;
margin-right: auto;
display: flex;
max-width: 1500px;
flex-direction: row;
flex-wrap: wrap;
align-items: stretch;
justify-content: space-between;
}
.related-0 {
position: relative;
height: 600px;
width: 100%;
background-size: cover;
background-repeat: no-repeat;
}
@media (min-width: 1024px) {
.related-0 {
height: 500px;
}
}
.related-1, .related-2, .related-3 {
position: relative !important;
margin-left: auto !important;
margin-right: auto !important;
margin-top: 0.5rem !important;
height: 300px !important;
width: 90% !important;
padding-right: 1rem !important;
}
@media (min-width: 1024px) {
.related-1, .related-2, .related-3 {
margin-left: 0px !important;
margin-right: 0px !important;
}
.related-1, .related-2, .related-3 {
height: 600px !important;
}
.related-1, .related-2, .related-3 {
width: 33% !important;
}
}
.tailwind-class-generate {
display: none;
}
.related-0 .related-button {
position: absolute;
left: 0px;
right: 0px;
top: 75%;
z-index: 10;
margin-left: auto;
margin-right: auto;
margin-top: 2.5rem;
height: 50px;
width: 16rem;
border-radius: 1.5rem;
--tw-bg-opacity: 1;
background-color: rgb(21 59 87 / var(--tw-bg-opacity));
text-align: center;
font-size: 16px;
line-height: 45px;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
.related-0 .related-button:hover {
--tw-bg-opacity: 1;
background-color: rgb(255 255 255 / var(--tw-bg-opacity));
--tw-text-opacity: 1;
color: rgb(21 59 87 / var(--tw-text-opacity));
}
.related-1 .related-button, .related-2 .related-button, .related-3 .related-button {
position: absolute;
top: 85%;
left: 0px;
right: 0px;
z-index: 10;
margin-left: auto;
margin-right: auto;
margin-top: 0.5rem;
max-width: 100px;
text-align: center;
font-family: Gotham Book, sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 1.25rem;
letter-spacing: 0.05em;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
.related-1 .related-button:hover, .related-2 .related-button:hover, .related-3 .related-button:hover {
border-bottom-width: 3px;
--tw-border-opacity: 1;
border-color: rgb(242 108 33 / var(--tw-border-opacity));
}
@media (min-width: 1024px) {
.related-1 .related-button, .related-2 .related-button, .related-3 .related-button {
margin-top: 1.5rem;
}
}
.related-title-articles {
position: absolute;
left: 0px;
right: 0px;
top: 65%;
z-index: 10;
margin-left: auto;
margin-right: auto;
max-width: 340px;
text-align: center;
font-family: Gotham Bold, sans-serif;
font-size: 22px;
font-weight: 700;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (min-width: 1024px) {
.related-title-articles {
top: 70%;
}
.related-title-articles {
max-width: 570px;
}
.related-title-articles {
font-size: 26px;
}
}
.related-0  .related-title-articles {
position: absolute;
left: 0px;
right: 0px;
top: 60%;
z-index: 10;
margin-left: auto;
margin-right: auto;
max-width: 750px;
padding-left: 2rem;
padding-right: 2rem;
text-align: center;
font-family: Gotham Bold, sans-serif;
font-size: 32px;
font-weight: 700;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (min-width: 1024px) {
.related-0  .related-title-articles {
top: 45%;
}
.related-0  .related-title-articles {
max-width: 570px;
}
.related-0  .related-title-articles {
font-size: 40px;
}
}
.related-article-image {
height: 100%;
width: auto;
background-size: contain;
}
.related-main-title {
margin-left: auto;
margin-right: auto;
padding-bottom: 2rem;
text-align: center;
font-family: Gotham Bold, sans-serif;
font-size: 38px;
font-weight: 700;
text-transform: uppercase;
line-height: 2.5rem;
letter-spacing: 2px;
--tw-text-opacity: 1;
color: rgb(0 0 0 / var(--tw-text-opacity));
}
.home-latest-post {
margin-left: auto;
margin-right: auto;
display: flex;
max-width: 1500px;
flex-direction: row;
flex-wrap: wrap;
align-items: stretch;
justify-content: space-between;
}
.generate-tailwind-classes {
display: none !important;
}
.latest-post-1, .latest-post-2 {
margin-left: auto;
margin-right: auto;
margin-top: 1.25rem;
margin-bottom: 1.25rem;
height: 300px;
width: 90%;
}
@media (min-width: 1024px) {
.latest-post-1, .latest-post-2 {
height: 600px;
}
.latest-post-1, .latest-post-2 {
width: 100%;
}
.latest-post-1, .latest-post-2 {
width: 49.4%;
}
}
.latest-post-1 .post-read-more, .latest-post-2 .post-read-more {
margin-left: auto;
margin-right: auto;
max-width: 100px;
}
.latest-post-1 .post-read-more:hover, .latest-post-2 .post-read-more:hover {
border-bottom-width: 3px;
--tw-border-opacity: 1;
border-color: rgb(242 108 33 / var(--tw-border-opacity));
}
.latest-post-3 {
height: 60vh;
width: 100%;
}
@media (min-width: 1024px) {
.latest-post-3 {
height: 600px;
}
}
.latest-post-3 .latest-post-title {
top: 25%;
max-width: 750px;
padding-left: 2rem;
padding-right: 2rem;
font-size: 32px;
font-weight: 400;
}
@media (min-width: 1024px) {
.latest-post-3 .latest-post-title {
top: 50%;
}
.latest-post-3 .latest-post-title {
font-size: 40px;
}
}
.latest-post-3 a.post-read-more {
position: absolute;
left: 0px;
right: 0px;
top: 65%;
z-index: 10;
margin-left: auto;
margin-right: auto;
margin-top: 2.5rem;
height: 40px;
width: 11rem;
border-radius: 1.5rem;
--tw-bg-opacity: 1;
background-color: rgb(21 59 87 / var(--tw-bg-opacity));
text-align: center;
font-family: Gotham Medium, sans-serif;
font-size: 16px;
line-height: 2.25rem;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
.latest-post-3 a.post-read-more:hover {
--tw-bg-opacity: 1;
background-color: rgb(255 255 255 / var(--tw-bg-opacity));
--tw-text-opacity: 1;
color: rgb(21 59 87 / var(--tw-text-opacity));
}
@media (min-width: 1024px) {
.latest-post-3 a.post-read-more {
height: 50px;
}
.latest-post-3 a.post-read-more {
width: 16rem;
}
.latest-post-3 a.post-read-more {
line-height: 45px;
}
}
.latest-post-3 .post-author-category {
position: absolute;
top: 20%;
left: 0px;
right: 0px;
z-index: 10;
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: center;
padding-bottom: 1.25rem;
text-align: center;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (min-width: 1024px) {
.latest-post-3 .post-author-category {
top: 33%;
}
.latest-post-3 .post-author-category {
top: 40%;
}
}
.home-hero-image {
position: relative;
height: 60vh;
background-size: cover;
background-repeat: no-repeat;
}
@media (min-width: 1024px) {
.home-hero-image {
height: 750px;
}
}
.home-hero-title {
position: absolute;
top: 33%;
left: 0px;
right: 0px;
z-index: 10;
margin-left: auto;
margin-right: auto;
max-width: 320px;
text-align: center;
font-family: Gotham Bold, sans-serif;
font-size: 32px;
font-weight: 800;
text-transform: uppercase;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (min-width: 1024px) {
.home-hero-title {
max-width: 900px;
}
.home-hero-title {
font-size: 60px;
}
}
.home-hero-btn {
position: absolute;
left: 0px;
right: 0px;
top: 60%;
z-index: 10;
margin-left: auto;
margin-right: auto;
margin-top: 3rem;
height: 40px;
width: 11rem;
border-radius: 1.5rem;
--tw-bg-opacity: 1;
background-color: rgb(255 255 255 / var(--tw-bg-opacity));
text-align: center;
font-family: Gotham Medium, sans-serif;
font-size: 16px;
line-height: 2.25rem;
--tw-text-opacity: 1;
color: rgb(21 59 87 / var(--tw-text-opacity));
}
.home-hero-btn:hover {
--tw-bg-opacity: 1;
background-color: rgb(21 59 87 / var(--tw-bg-opacity));
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (min-width: 1024px) {
.home-hero-btn {
top: 60%;
}
.home-hero-btn {
height: 50px;
}
.home-hero-btn {
width: 16rem;
}
.home-hero-btn {
line-height: 45px;
}
}
.post-container {
position: relative;
display: flex;
flex-direction: column;
}
.latest-post-title {
position: absolute;
left: 0px;
right: 0px;
top: 45%;
z-index: 10;
margin-left: auto;
margin-right: auto;
max-width: 340px;
text-align: center;
font-family: Gotham Bold, sans-serif;
font-size: 22px;
font-weight: 700;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (min-width: 1024px) {
.latest-post-title {
top: 50%;
}
.latest-post-title {
max-width: 570px;
}
.latest-post-title {
font-size: 26px;
}
}
.post-read-more {
position: absolute;
left: 0px;
right: 0px;
top: 75%;
z-index: 20;
margin-top: 0.625rem;
text-align: center;
font-family: Gotham Book, sans-serif;
font-weight: 700;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (min-width: 1024px) {
.post-read-more {
top: 70%;
}
}
.latest-post-4, .latest-post-5, .latest-post-6 {
margin-left: auto;
margin-right: auto;
margin-top: 0.5rem;
height: 300px;
width: 90%;
padding-right: 1rem;
}
@media (min-width: 1024px) {
.latest-post-4, .latest-post-5, .latest-post-6 {
margin-left: 0px;
margin-right: 0px;
}
.latest-post-4, .latest-post-5, .latest-post-6 {
height: 600px;
}
.latest-post-4, .latest-post-5, .latest-post-6 {
width: 32%;
}
.latest-post-4 .latest-post-title, .latest-post-5 .latest-post-title, .latest-post-6 .latest-post-title {
max-width: 28rem;
}
}
.latest-post-4 .post-read-more, .latest-post-5 .post-read-more, .latest-post-6 .post-read-more {
margin-left: auto;
margin-right: auto;
max-width: 100px;
}
.latest-post-4 .post-read-more:hover, .latest-post-5 .post-read-more:hover, .latest-post-6 .post-read-more:hover {
border-bottom-width: 3px;
--tw-border-opacity: 1;
border-color: rgb(242 108 33 / var(--tw-border-opacity));
}
.latest-post-8 .post-read-more, .latest-post-9 .post-read-more {
margin-left: auto;
margin-right: auto;
max-width: 100px;
}
.latest-post-8 .post-read-more:hover, .latest-post-9 .post-read-more:hover {
border-bottom-width: 3px;
--tw-border-opacity: 1;
border-color: rgb(242 108 33 / var(--tw-border-opacity));
}
.latest-post-8, .latest-post-9 {
margin-left: auto;
margin-right: auto;
margin-bottom: 0.5rem;
height: 300px;
width: 90%;
}
@media (min-width: 1024px) {
.latest-post-8, .latest-post-9 {
margin-left: 0px;
margin-right: 0px;
}
.latest-post-8, .latest-post-9 {
margin-top: 1.25rem;
margin-bottom: 1.25rem;
}
.latest-post-8, .latest-post-9 {
height: 600px;
}
.latest-post-8, .latest-post-9 {
width: 49.4%;
}
}
.home-take-quiz {
position: relative;
left: 0px;
right: 0px;
margin-left: auto;
margin-right: auto;
}
.take-quiz-container {
height: 560px;
background-size: cover;
background-repeat: no-repeat;
}
@media (min-width: 1024px) {
.take-quiz-container {
height: 750px;
}
}
.quiz-title {
position: absolute;
top: 33%;
left: 0px;
right: 0px;
z-index: 10;
margin-left: auto;
margin-right: auto;
max-width: 320px;
text-align: center;
font-family: Gotham Bold, sans-serif;
font-size: 40px;
font-weight: 800;
text-transform: uppercase;
line-height: 55px;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (min-width: 1024px) {
.quiz-title {
max-width: 570px;
}
.quiz-title {
font-size: 50px;
}
}
.quiz-btn {
position: absolute;
left: 0px;
right: 0px;
top: 65%;
z-index: 10;
margin-left: auto;
margin-right: auto;
margin-top: 3rem;
height: 50px;
width: 16rem;
border-radius: 1.5rem;
--tw-bg-opacity: 1;
background-color: rgb(242 108 33 / var(--tw-bg-opacity));
text-align: center;
font-family: Gotham Medium, sans-serif;
font-size: 16px;
line-height: 51px;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
.quiz-btn:hover {
--tw-bg-opacity: 1;
background-color: rgb(255 255 255 / var(--tw-bg-opacity));
--tw-text-opacity: 1;
color: rgb(242 108 33 / var(--tw-text-opacity));
}
@media (min-width: 1024px) {
.quiz-btn {
top: 50%;
}
}
.quiz-subtitle {
position: absolute;
top: 25%;
left: 0px;
right: 0px;
z-index: 10;
margin-left: auto;
margin-right: auto;
text-align: center;
font-family: Gotham Book, sans-serif;
font-size: 26px;
font-weight: 300;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
.post-author-category {
position: absolute;
top: 33%;
left: 0px;
right: 0px;
z-index: 10;
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: center;
padding-bottom: 1.25rem;
text-align: center;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (min-width: 1024px) {
.post-author-category {
top: 40%;
}
}
.latest-post-category .post-categories {
margin-left: 0.25rem;
display: flex;
flex-direction: row;
font-family: Gotham Book, sans-serif;
-webkit-text-decoration-line: underline;
text-decoration-line: underline;
text-underline-offset: 2px;
}
.latest-post-category .post-categories a {
padding-right: 0.5rem;
}
.reading-time {
display: flex;
padding-right: 0.25rem;
font-family: Gotham Book, sans-serif;
}
.post-container {
background-size: cover;
background-repeat: no-repeat;
}
.timer-icon {
margin-right: 0.5rem;
height: 1.25rem;
width: 1.25rem;
stroke: #fff;
stroke-width: 18px;
}
.latest-post-7 {
margin-top: 0.75rem;
display: flex;
flex-direction: column;
}
@media (min-width: 1024px) {
.latest-post-7 {
width: 100%;
}
.latest-post-7 {
flex-direction: row;
}
}
.post-7-image {
margin-left: auto;
margin-right: auto;
height: 300px;
width: 90%;
background-size: cover;
background-repeat: no-repeat;
}
@media (min-width: 1024px) {
.post-7-image {
margin-left: 0px;
margin-right: 0px;
}
.post-7-image {
height: 750px;
}
.post-7-image {
width: 49.4%;
}
}
.post-7-title {
position: relative;
margin-left: auto;
margin-right: auto;
height: 250px;
width: 90%;
}
@media (min-width: 1024px) {
.post-7-title {
margin-left: 0px;
margin-right: 0px;
}
.post-7-title {
height: 300px;
}
.post-7-title {
height: 750px;
}
.post-7-title {
width: 100%;
}
.post-7-title {
width: 49.4%;
}
}
.title-post-7 {
position: absolute;
top: 20%;
left: 0px;
right: 0px;
margin-left: auto;
margin-right: auto;
max-width: 750px;
text-align: center;
font-family: Gotham Bold, sans-serif;
font-size: 28px;
font-weight: 800;
--tw-text-opacity: 1;
color: rgb(0 0 0 / var(--tw-text-opacity));
}
@media (min-width: 1024px) {
.title-post-7 {
top: 45%;
}
.title-post-7 {
padding-left: 3rem;
padding-right: 3rem;
}
.title-post-7 {
font-size: 50px;
}
.title-post-7 {
line-height: 60px;
}
}
.post-7-btn {
position: absolute;
left: 0px;
right: 0px;
top: 55%;
z-index: 10;
margin-left: auto;
margin-right: auto;
margin-top: 2.5rem;
height: 40px;
width: 11rem;
border-radius: 1.5rem;
--tw-bg-opacity: 1;
background-color: rgb(21 59 87 / var(--tw-bg-opacity));
text-align: center;
font-family: Gotham Medium, sans-serif;
font-size: 16px;
line-height: 2.25rem;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
.post-7-btn:hover {
--tw-bg-opacity: 1;
background-color: rgb(255 255 255 / var(--tw-bg-opacity));
--tw-text-opacity: 1;
color: rgb(21 59 87 / var(--tw-text-opacity));
}
@media (min-width: 1024px) {
.post-7-btn {
top: 60%;
}
.post-7-btn {
height: 50px;
}
.post-7-btn {
width: 16rem;
}
.post-7-btn {
padding-left: 2.5rem;
padding-right: 2.5rem;
}
.post-7-btn {
line-height: 45px;
}
}
.home-reading-time {
z-index: 20;
display: flex;
font-family: Gotham Book, sans-serif;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
.home-post-category {
z-index: 10;
padding-left: 0.5rem;
font-family: Gotham Book, sans-serif;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
-webkit-text-decoration-line: underline;
text-decoration-line: underline;
text-underline-offset: 2px;
}
.hero-reading-cat {
position: absolute;
top: 25%;
left: 0px;
right: 0px;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: row;
justify-content: center;
}
.footer-columns.title h4 {
max-height: 2.5rem;
padding-top: 1.25rem;
}
.single-post-products {
width: 100%;
}
.single-post-prod {
position: relative;
margin-left: auto;
margin-right: auto;
margin-top: 1.25rem;
margin-bottom: 1.25rem;
height: 300px;
width: 90%;
}
@media (min-width: 1024px) {
.single-post-prod {
margin-left: 0px;
margin-right: 0px;
}
.single-post-prod {
height: 600px;
}
.single-post-prod {
width: 100%;
}
.single-post-prod {
width: 49.4%;
}
}
.post-prod-title {
position: absolute;
left: 0px;
right: 0px;
bottom: 20%;
z-index: 10;
margin-left: auto;
margin-right: auto;
max-width: 320px;
text-align: center;
font-family: Gotham Bold, sans-serif;
font-size: 22px;
font-weight: 700;
text-transform: uppercase;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (min-width: 1024px) {
.post-prod-title {
max-width: 570px;
}
.post-prod-title {
font-size: 26px;
}
}
.post-prod-btn {
position: absolute;
left: 0px;
right: 0px;
bottom: 2rem;
z-index: 20;
margin-left: auto;
margin-right: auto;
max-width: 100px;
text-align: center;
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
.post-prod-btn:hover {
border-bottom-width: 3px;
--tw-border-opacity: 1;
border-color: rgb(242 108 33 / var(--tw-border-opacity));
}
.copyright {
text-align: center;
font-family: Gotham Book, sans-serif;
font-size: 13px;
}
.category-post-template {
margin-left: auto;
margin-right: auto;
display: flex;
max-width: 1500px;
flex-direction: row;
flex-wrap: wrap;
align-items: stretch;
justify-content: space-between;
}
.category-post-template article {
margin-top: 2rem;
width: 100%;
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 1rem;
padding-right: 1rem;
}
@media (min-width: 1024px) {
.category-post-template article {
width: 48%;
}
}
.category-post-template article footer a.comment-count {
display: none;
}
.category-post-template article h2.title {
margin-top: 1.5rem;
padding-left: 1rem;
padding-right: 1rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
font-family: Gotham Bold, sans-serif;
font-size: 20px;
font-weight: 700;
--tw-text-opacity: 1;
color: rgb(21 59 87 / var(--tw-text-opacity));
}
@media (min-width: 1024px) {
.category-post-template article h2.title {
font-size: 22px;
}
}
.category-post-template .footer {
display: none !important;
}
.category-post-template .posted-on {
margin-bottom: 1rem;
padding-left: 1rem;
padding-right: 1rem;
font-family: Gotham Book, sans-serif;
font-size: 16px;
--tw-text-opacity: 1;
color: rgb(21 59 87 / var(--tw-text-opacity));
}
.category-post-template .nav-links {
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: row-reverse;
justify-content: center;
padding-top: 2rem;
padding-bottom: 2rem;
text-align: center;
font-family: Gotham Book, sans-serif;
font-size: 16px;
font-weight: 700;
--tw-text-opacity: 1;
color: rgb(21 59 87 / var(--tw-text-opacity));
-webkit-text-decoration-line: underline;
text-decoration-line: underline;
text-underline-offset: 4px;
}
.category-post-template .nav-previous {
padding-left: 1rem;
font-family: Gotham Book, sans-serif;
font-size: 16px;
--tw-text-opacity: 1;
color: rgb(21 59 87 / var(--tw-text-opacity));
}
.category-post-template .nav-next {
margin-left: 1rem;
}
.category-post-template .excerpt p {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
padding-left: 1rem;
padding-right: 1rem;
padding-bottom: 1rem;
}
.category-read-more {
margin-top: 1rem;
margin-bottom: 1rem;
margin-left: 1rem;
margin-right: 1rem;
max-width: 75px;
font-family: Gotham Book, sans-serif;
font-size: 16px;
--tw-text-opacity: 1;
color: rgb(21 59 87 / var(--tw-text-opacity));
}
.category-read-more:hover {
border-bottom-width: 3px;
--tw-border-opacity: 1;
border-color: rgb(242 108 33 / var(--tw-border-opacity));
}
.home-instagram-feed {
margin-left: auto;
margin-right: auto;
max-width: 1280px;
padding-top: 1.5rem;
padding-bottom: 1.5rem;
}
.eapps-instagram-feed-title {
display: none !important;
}
.instagram-title {
padding-top: 1.5rem;
text-align: center;
font-size: 20px;
font-weight: 800;
--tw-text-opacity: 1;
color: rgb(0 0 0 / var(--tw-text-opacity));
}
@media (min-width: 1024px) {
.instagram-title {
font-size: 38px;
}
}
.instagram-follow-link {
padding-top: 1rem;
padding-bottom: 1rem;
text-align: center;
font-size: 16px;
font-weight: 700;
--tw-text-opacity: 1;
color: rgb(21 59 87 / var(--tw-text-opacity));
}
.instagram-follow-link a {
-webkit-text-decoration-line: underline;
text-decoration-line: underline;
}
.eapps-instagram-feed-posts-item-image-wrapper {
margin-top: 0.5rem !important;
margin-bottom: 0.5rem !important;
margin-left: 0.5rem !important;
margin-right: 0.5rem !important;
}
.single-post .post-navigation {
display: none;
}
@media (min-width: 1024px) {
.product-single-post {
display: flex;
}
.product-single-post {
justify-content: space-between;
}
}
*, ::before, ::after {
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-pan-x:  ;
--tw-pan-y:  ;
--tw-pinch-zoom:  ;
--tw-scroll-snap-strictness: proximity;
--tw-ordinal:  ;
--tw-slashed-zero:  ;
--tw-numeric-figure:  ;
--tw-numeric-spacing:  ;
--tw-numeric-fraction:  ;
--tw-ring-inset:  ;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
--tw-blur:  ;
--tw-brightness:  ;
--tw-contrast:  ;
--tw-grayscale:  ;
--tw-hue-rotate:  ;
--tw-invert:  ;
--tw-saturate:  ;
--tw-sepia:  ;
--tw-drop-shadow:  ;
--tw-backdrop-blur:  ;
--tw-backdrop-brightness:  ;
--tw-backdrop-contrast:  ;
--tw-backdrop-grayscale:  ;
--tw-backdrop-hue-rotate:  ;
--tw-backdrop-invert:  ;
--tw-backdrop-opacity:  ;
--tw-backdrop-saturate:  ;
--tw-backdrop-sepia:  ;
}
.mx-auto {
margin-left: auto;
margin-right: auto;
}
.mx-5 {
margin-left: 1.25rem;
margin-right: 1.25rem;
}
.mr-auto {
margin-right: auto;
}
.mb-5 {
margin-bottom: 1.25rem;
}
.mb-6 {
margin-bottom: 1.5rem;
}
.ml-auto {
margin-left: auto;
}
.inline-block {
display: inline-block;
}
.flex {
display: flex;
}
.w-full {
width: 100%;
}
.transform {
transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.justify-around {
justify-content: space-around;
}
.bg-black-500 {
--tw-bg-opacity: 1;
background-color: rgb(29 29 29 / var(--tw-bg-opacity));
}
.pb-10 {
padding-bottom: 2.5rem;
}
.pb-2 {
padding-bottom: 0.5rem;
}
.text-center {
text-align: center;
}
.font-gotham {
font-family: Gotham Book, sans-serif;
}
.font-gotham-bold {
font-family: Gotham Bold, sans-serif;
}
.text-s {
font-size: 18px;
}
.text-l {
font-size: 20px;
}
.font-bold {
font-weight: 700;
}
.text-white {
--tw-text-opacity: 1;
color: rgb(255 255 255 / var(--tw-text-opacity));
}
.filter {
filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
@media (min-width: 768px) {
.sm\:ml-10 {
margin-left: 2.5rem;
}
.sm\:inline-block {
display: inline-block;
}
.sm\:py-10 {
padding-top: 2.5rem;
padding-bottom: 2.5rem;
}
.sm\:px-5 {
padding-left: 1.25rem;
padding-right: 1.25rem;
}
.sm\:pb-0 {
padding-bottom: 0px;
}
.sm\:pt-5 {
padding-top: 1.25rem;
}
}
@media (min-width: 769px) {
.md\:ml-auto {
margin-left: auto;
}
.md\:min-w-md {
min-width: 769px;
}
.md\:max-w-2xl {
max-width: 1500px;
}
.md\:px-20 {
padding-left: 5rem;
padding-right: 5rem;
}
}
@media (min-width: 1024px) {
.lg\:flex {
display: flex;
}
.lg\:min-w-lg {
min-width: 1024px;
}
.lg\:flex-row {
flex-direction: row;
}
.lg\:py-20 {
padding-top: 5rem;
padding-bottom: 5rem;
}
.lg\:pt-10 {
padding-top: 2.5rem;
}
.lg\:text-l {
font-size: 20px;
}
}
@media (min-width: 1536px) {
.\32xl\:min-w-2xl {
min-width: 1500px;
}
}