/* Breakpoints variables declaration */
root{
    --mobile-breakpoint: 768px;
}
/*Header Desktop */
#header-main{
    width: 100%;
    background-color: #153B57;
}
.header-container{
    display: flex;
    align-content: center;
    align-items: center;
    height: 100px;
    justify-content: space-around;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}
.header-menu-desktop{
    display: flex;
    align-content: center;
    height: 75px;
    justify-content: center;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 70px;
}
.bm-blog-logo{
    width: 240px;
}
#primary-menu{
    display: flex;
    justify-content: space-around;
}
.header-menu-search{
    display: flex;
    flex-direction: column-reverse;
    width: 700px;
}
.menu-primary{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.header-right{
    display: flex;
    justify-content: space-between;
    width: 250px;
    color:#ffffff;
    font-family: "Gotham Book",sans-serif;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;

}
.menu-header-container{
    color: #FFFFFF;
    margin-top: 30px;
    font-size: 16px;
    letter-spacing: 3.43px;
    line-height: 16px;
}
.menu-header-container a{
    font-family: "Gotham Medium",sans-serif;
    text-align: center;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 10px 15px;
}
.search-bm-input{
    border-radius: 25px;
    border: 1px solid transparent;
    padding-left: 17px;
    background: #fff;
    height: 45px;
    width: 89%;
    text-align: center;

}
.search-submit{
    padding-left: 20px;
    align-items: center;
    vertical-align: middle;
}
.search-menu-desktop{
    background-color: #ffffff;
    border-radius: 25px;
    width: 469px;
    margin: 0 auto;
}
::-webkit-input-placeholder {
    text-align: center;
    height: 13px;
    width: 205px;
    color: #000000;
    font-family: "Gotham Book",sans-serif;
    font-size: 13px;
    font-weight: 300;
}

:-moz-placeholder {
    text-align: center;

}
.search-submit{
    width: 10%;
}
img{
    width: 100% !important;
}
.mobile-main-menu,
.bm-blog-logo-mobile,
.hamburger-menu-mobile,
.hamburger-svg-icon,
.search-menu-mobile{
    display: none;
}
.posts-navigation .screen-reader-text{
    display: none;
}
.search-bm-input::-webkit-input-placeholder {
    text-align: center;
    width: 85%;
    color: #000000;
    font-family: "Gotham Book",sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.search-bm-input:-moz-placeholder {
    text-align: center;
    width: 85%;
}
.search-bm-input::-moz-placeholder {
    text-align: center;
    width: 85%;
}
.search-bm-input:-ms-input-placeholder {
    text-align: center;
    width: 85%;
}
.menu-header-container a:hover{
    border-bottom: 3px solid #F26C21;
}
/* Header Tablet*/
@media only screen and (min-width: 1025px) and (max-width: 1280px){
    .header-container{
        max-width: 1100px;
    }
    .header-menu-search{
        max-width: 550px;
    }
    .bm-blog-log{
        width: 170px;
    }
    .header-right{
        width: 200px;
    }
}

/*Header Mobile*/

@media only screen and (max-width: 1024px) {
    .header-container{
        width: auto;
        padding: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        position: relative;
    }
    .mobile-main-menu{
        display: block !important;
    }
    .menu-header-container{
        display: none;
    }
    .mobile-menu-open .menu-header-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 85%;
        max-width: 500px;
        background: #fff;
        height: 100vh;
        right: 20%;
        top: 115px;
        left: 0;
        overflow: hidden;
        overflow-y: auto;
        z-index: 1001;
    }
    .menu-header-container a{
        font-family: "Gotham Bold",sans-serif;
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #153b57;
        font-weight: 700;
        padding-left: 20px;
    }
    .menu-header-container .menu .menu-item{
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 0.1px solid #767676;
    }
    #primary-menu{
        display: flex;
        flex-direction: column;
    }
    #primary-menu ul li {
        height: 10px;
    }
    .find-dealer{
        display: none;
    }
    .header-right{
        width: 70px;
        display: flex;
        min-width: 55px;
    }
    .search-menu-desktop{
        display: none;
    }
    .search-menu-mobile {
        display: block;
        background-color: #ffffff;
        border-radius: 25px;
        position: absolute;
        top: 90px;
        width:96%;
        margin: 0 auto;
        height: 35px;
    }
    .bm-blog-logo {
        width: 200px;
        margin: 0 auto;
        position: absolute;
    }
    .mobile-main-menu{
        position: absolute;
        padding-left: 30px;
    }

    .menu-header-container .menu ul li{
        margin-bottom: 20px;
    }
    .header-container .hamburger-svg-icon {
        display: none;
    }
    body.mobile-menu-open .hamburger-svg-icon{
        display: block !important;
    }
    .mobile-menu-open .find-dealer{
        display: block ;

    }
    .hamburger-menu-mobile{
        display: block;
    }
    .mobile-menu-open .hamburger-menu-mobile{
        display: none;
    }
    .search-bm-input{
        width: 88%;
        height: 35px;
    }
    .search-submit{
        width: 10%;
    }
    a.find-dealer{
        margin-top: 5px;
        font-weight: 400;
        text-transform: capitalize;
        font-size: 17px;
        margin-bottom: 15px;
        position: relative;
        text-align: left;
    }
}
