
@font-face {
    font-family: "Gotham Book";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Gotham-Book.otf");
}
@font-face {
    font-family: "Gotham Bold";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Gotham-Bold_Web.woff");
}
@font-face {
    font-family: "Gotham Medium";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Gotham-Medium_Web.woff");
}

/*Footer additional css */
.wp-social-link:before{
    background: transparent;
    display: block ;
    height: 34px;
    width: 34px;
    content: '';
    background-repeat: no-repeat ;
}
.wp-social-link-facebook:before{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='34px' height='34px' viewBox='0 0 16 31' version='1.1'%3E%3Ctitle%3EFB Icon%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M10.0195074,30.7499911 L10.0195074,17.3320543 L14.2968409,17.3320543 L14.9999642,12.0000358 L10.0195074,12.0000358 L10.0195074,8.30863831 C10.0195074,7.44926506 10.1757573,6.82426715 10.4882562,6.43364278 C10.8788806,5.9648939 11.6015348,5.73051946 12.6562198,5.73051946 L15.4687131,5.73051946 L15.4687131,0.984437026 C14.4140281,0.828187101 13.0468442,0.750062585 11.3671604,0.750062585 C9.29685313,0.750062585 7.63670024,1.36529549 6.38670352,2.59576131 C5.1367068,3.82622713 4.51170799,5.55473863 4.51170799,7.78129582 L4.51170799,12.0000358 L0,12.0000358 L0,17.3320543 L4.51170799,17.3320543 L4.51170799,30.7499911 L10.0195074,30.7499911 Z' id='FB-Icon' fill='%23FFFFFF' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
}
.wp-social-link-facebook svg,
.wp-social-link-instagram svg,
.wp-social-link-twitter svg,
.wp-social-link-youtube svg,
.wp-social-link-linkedin svg{
    display: none;
}
.wp-block-social li{
    background-color: transparent !important;
}
.wp-social-link-instagram:before{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='34px' height='34px' viewBox='0 0 27 27' version='1.1'%3E%3Ctitle%3EInstagram icon%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M13.5415439,26.8747243 C15.8647321,26.8716499 17.5520415,26.8424435 18.6034713,26.7871051 C19.7167499,26.7285115 20.6835444,26.5624966 21.503855,26.2890594 C22.4804155,25.9374978 23.3300228,25.4003894 24.052677,24.6777351 C24.7753313,23.9550809 25.3124397,23.1054736 25.6640013,22.1289131 C25.9374385,21.3086026 26.1034534,20.341808 26.162047,19.2285294 C26.2206406,18.1152508 26.2499374,16.289083 26.2499374,13.7500268 L26.249214,12.9304397 C26.2453561,10.8162475 26.2260662,9.27304123 26.1913438,8.30082106 C26.1132193,7.16801156 25.9374385,6.19145109 25.6640013,5.37114055 C25.3124397,4.39458008 24.7753313,3.54497273 24.052677,2.8223185 C23.3300228,2.09966427 22.4804155,1.56255588 21.503855,1.21099422 C20.6835444,0.937557071 19.7167499,0.77154214 18.6034713,0.71294853 C17.4901927,0.65435492 15.6640249,0.625058115 13.1249687,0.625058115 L12.7083935,0.625329381 C10.3852053,0.628403737 8.69789593,0.65761012 7.64646614,0.71294853 C6.53318755,0.77154214 5.56639298,0.937557071 4.74608243,1.21099422 C3.76952196,1.56255588 2.91991462,2.09966427 2.19726039,2.8223185 C1.47460616,3.54497273 0.937497765,4.39458008 0.585936103,5.37114055 C0.312498957,6.19145109 0.146484026,7.15824566 0.0878904155,8.27152426 C0.0292968052,9.38480285 0,11.2109707 0,13.7500268 L0.000271266714,14.166602 C0.00334562281,16.4897902 0.0325520057,18.1770996 0.0878904155,19.2285294 C0.146484026,20.341808 0.312498957,21.3086026 0.585936103,22.1289131 C0.937497765,23.1054736 1.47460616,23.9550809 2.19726039,24.6777351 C2.91991462,25.4003894 3.76952196,25.9179669 4.74608243,26.2304658 C5.56639298,26.5429648 6.53318755,26.7285115 7.64646614,26.7871051 C8.75974474,26.8456987 10.5859126,26.8749955 13.1249687,26.8749955 L13.5415439,26.8747243 Z M14.0624665,24.5312511 L12.1874709,24.5312511 C10.6249744,24.5312511 9.41404035,24.5117202 8.5546671,24.4726575 C7.10935775,24.394533 6.05467277,24.2382831 5.39061215,24.0039086 C4.21873994,23.5351597 3.37889849,22.6953183 2.8710869,21.4843834 C2.63671246,20.8203228 2.48046254,19.7656378 2.40233802,18.3203284 C2.36327532,17.4609552 2.34374441,16.2500212 2.34374441,14.6875246 L2.34374441,14.6875246 L2.34374441,12.8125291 C2.34374441,11.2500325 2.36327532,10.0390985 2.40233802,9.17972522 C2.48046254,7.69535406 2.63671246,6.64066907 2.8710869,6.01567026 C3.33983579,4.80473535 4.17967724,3.9648939 5.39061215,3.49614502 C6.05467277,3.26177058 7.10935775,3.10552065 8.5546671,3.02739614 C9.41404035,2.98833343 10.6249744,2.96880253 12.1874709,2.96880253 L12.1874709,2.96880253 L14.0624665,2.96880253 C15.624963,2.96880253 16.8358971,2.98833343 17.6952703,3.02739614 C19.1796415,3.10552065 20.2343265,3.26177058 20.8593253,3.49614502 C22.0702602,3.9648939 22.9101016,4.80473535 23.3788505,6.01567026 C23.613225,6.64066907 23.7694749,7.69535406 23.8475994,9.17972522 C23.8866621,10.0000358 23.906193,11.2109707 23.906193,12.8125291 L23.906193,12.8125291 L23.906193,14.6875246 C23.906193,16.2500212 23.8866621,17.4609552 23.8475994,18.3203284 C23.7694749,19.7656378 23.613225,20.8203228 23.3788505,21.4843834 C22.9101016,22.6562556 22.0702602,23.496097 20.8593253,24.0039086 C20.2343265,24.2382831 19.1796415,24.394533 17.6952703,24.4726575 C16.8749598,24.5117202 15.6640249,24.5312511 14.0624665,24.5312511 L14.0624665,24.5312511 Z M20.1562019,8.30082106 C20.5858881,8.30082106 20.9472157,8.14457114 21.2401837,7.83207218 C21.5331518,7.51957322 21.6991667,7.14847976 21.7382294,6.71879359 C21.7382294,6.28910741 21.5819795,5.91801395 21.2694805,5.60551499 C20.9569816,5.29301603 20.5858881,5.13676611 20.1562019,5.13676611 C19.7265158,5.13676611 19.3554223,5.29301603 19.0429233,5.60551499 C18.7304244,5.91801395 18.5741745,6.28910741 18.5741745,6.71879359 C18.5741745,7.14847976 18.7304244,7.51957322 19.0429233,7.83207218 C19.3554223,8.14457114 19.7265158,8.30082106 20.1562019,8.30082106 Z M13.1249687,20.488292 C14.3359036,20.488292 15.4589472,20.1855581 16.4941013,19.580091 C17.5292554,18.974624 18.3495659,18.1543135 18.9550329,17.1191594 C19.5604999,16.0840053 19.8632339,14.9609617 19.8632339,13.7500268 C19.8632339,12.5390919 19.5604999,11.4160483 18.9550329,10.3808942 C18.3495659,9.34574015 17.5292554,8.52542961 16.4941013,7.9199626 C15.4589472,7.31449559 14.3359036,7.01176164 13.1249687,7.01176164 C11.9140338,7.01176164 10.7909902,7.31449559 9.75583612,7.9199626 C8.72068204,8.52542961 7.90037149,9.34574015 7.29490448,10.3808942 C6.68943747,11.4160483 6.38670352,12.5390919 6.38670352,13.7500268 C6.38670352,14.9609617 6.68943747,16.0840053 7.29490448,17.1191594 C7.90037149,18.1543135 8.72068204,18.974624 9.75583612,19.580091 C10.7909902,20.1855581 11.9140338,20.488292 13.1249687,20.488292 Z M13.1249687,18.1445476 C11.9140338,18.1445476 10.8788806,17.7148614 10.0195074,16.8554882 C9.16013411,15.9961149 8.73044793,14.9609617 8.73044793,13.7500268 C8.73044793,12.5390919 9.16013411,11.5039387 10.0195074,10.6445655 C10.8788806,9.78519223 11.9140338,9.35550605 13.1249687,9.35550605 C14.3359036,9.35550605 15.3710568,9.78519223 16.2304301,10.6445655 C17.0898033,11.5039387 17.5194895,12.5390919 17.5194895,13.7500268 C17.5194895,14.9609617 17.0898033,15.9961149 16.2304301,16.8554882 C15.3710568,17.7148614 14.3359036,18.1445476 13.1249687,18.1445476 Z' id='Instagram-icon' fill='%23FFFFFF' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.wp-social-link-twitter:before{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='34px' height='34px' viewBox='0 0 30 25' version='1.1'%3E%3Ctitle%3ETwitter icon%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M9.43357126,24.9374978 C13.0273124,24.9374978 16.2108991,24.0195309 18.9843297,22.1835981 C21.5233859,20.542977 23.4960377,18.3359507 24.9022844,15.5625201 C26.2694683,12.9453386 26.9530607,10.2305016 26.9530607,7.41800828 C26.9530607,7.06644662 26.9335298,6.81254128 26.8944671,6.65629135 C28.105402,5.75785629 29.1405552,4.68363951 29.9999285,3.43364278 C28.8280563,3.94145437 27.6561841,4.27348423 26.4843119,4.42973416 C27.812434,3.60942362 28.710869,2.47661411 29.1796179,1.03130476 C27.968683,1.73442809 26.6600927,2.22270787 25.253846,2.49614502 C24.6679099,1.91020892 23.9940834,1.44146003 23.2323665,1.08989837 C22.4706496,0.73833671 21.6405731,0.562555879 20.742138,0.562555879 C19.6483904,0.562555879 18.6327681,0.835993025 17.6952703,1.38286642 C16.7577725,1.92973982 16.0155865,2.68169175 15.4687131,3.63872042 C14.9218397,4.59574909 14.6484026,5.62113727 14.6484026,6.71488496 C14.6484026,7.18363384 14.6874653,7.65238273 14.7655898,8.12113161 C12.2655955,8.00394439 9.91208604,7.37894558 7.70505975,6.24613608 C5.49803347,5.11332658 3.63280384,3.58989271 2.10936997,1.67583448 C1.52343387,2.65239494 1.23046582,3.67778313 1.23046582,4.75199902 C1.23046582,5.82621491 1.48437116,6.81254128 1.99218275,7.71097634 C2.5,8.6094114 3.16405496,9.35159742 3.9843655,9.93753353 C3.00780503,9.89847082 2.08983907,9.62503457 1.23046582,9.11722298 L1.23046582,9.2344102 C1.23046582,10.6797196 1.6992147,11.968779 2.63671246,13.1015885 C3.57421023,14.234398 4.74608243,14.9570531 6.15232908,15.2695521 C5.60545568,15.3867393 5.05858139,15.4453329 4.51170799,15.4453329 C4.16014633,15.4453329 3.78905376,15.425802 3.3984294,15.3867393 C3.78905376,16.5976742 4.50194209,17.6035306 5.53709617,18.4043102 C6.57225025,19.2050899 7.77341926,19.6054792 9.14060321,19.6054792 C6.87498331,21.3632875 4.31639626,22.2421917 1.46484026,22.2421917 C0.917966859,22.2421917 0.429686178,22.2226608 0,22.1835981 C2.851556,24.0195309 5.99607916,24.9374978 9.43357126,24.9374978 Z' id='Twitter-icon' fill='%23FFFFFF' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
}
.wp-social-link-youtube:before{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='34px' height='34px' viewBox='0 0 33 23' version='1.1'%3E%3Ctitle%3EYoutube icon%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M16.8749598,23 L22.2069783,22.9414064 C25.9569694,22.8242192 28.3397765,22.6289074 29.3553988,22.3554703 C30.0585221,22.1601586 30.6639891,21.8085969 31.1718007,21.3007853 C31.6796123,20.7929737 32.0311739,20.2070376 32.2264857,19.542977 C32.4999228,18.488292 32.6952345,16.8672018 32.8124218,14.6797073 L32.8124218,14.6797073 L32.8710154,11.7500268 L32.8124218,8.82034631 C32.6952345,6.67191363 32.4999228,5.07035525 32.2264857,4.01567026 C32.0311739,3.31254694 31.6796123,2.70707993 31.1718007,2.19926834 C30.6639891,1.69145676 30.0585221,1.33989509 29.3553988,1.14458336 C28.3397765,0.871146211 25.9569694,0.675834475 22.2069783,0.558647254 L22.2069783,0.558647254 L16.8749598,0.500053644 L11.5429412,0.558647254 C7.79295017,0.675834475 5.41014305,0.871146211 4.39452077,1.14458336 C3.69139745,1.33989509 3.08593044,1.69145676 2.57811885,2.19926834 C2.07030727,2.70707993 1.7187456,3.31254694 1.52343387,4.01567026 C1.24999672,5.07035525 1.05468499,6.67191363 0.937497765,8.82034631 C0.89843506,9.914094 0.878904155,10.8906536 0.878904155,11.7500268 L0.878904155,11.7500268 L0.937497765,14.6797073 C1.05468499,16.8672018 1.24999672,18.488292 1.52343387,19.542977 C1.7187456,20.2070376 2.07030727,20.7929737 2.57811885,21.3007853 C3.08593044,21.8085969 3.69139745,22.1601586 4.39452077,22.3554703 C5.41014305,22.6289074 7.79295017,22.8242192 11.5429412,22.9414064 L11.5429412,22.9414064 L16.8749598,23 Z M13.5937176,16.5547029 L13.5937176,7.00394439 L21.9726039,11.7500268 L13.5937176,16.5547029 Z' id='Youtube-icon' fill='%23FFFFFF' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
}
.wp-social-link-linkedin:before{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='34px' height='34px' viewBox='0 0 27 27' version='1.1'%3E%3Ctitle%3ELinkedin icon%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M3.16405496,7.0781725 C4.02342821,7.0781725 4.76561334,6.76567354 5.39061215,6.14067473 C6.01561096,5.51567592 6.32810991,4.77349079 6.32810991,3.91411754 C6.32810991,3.05474429 6.01561096,2.31255916 5.39061215,1.68756035 C4.76561334,1.06256154 4.02342821,0.750062585 3.16405496,0.750062585 C2.30468171,0.750062585 1.56249657,1.06256154 0.937497765,1.68756035 C0.312498957,2.31255916 0,3.05474429 0,3.91411754 C0,4.77349079 0.312498957,5.51567592 0.937497765,6.14067473 C1.56249657,6.76567354 2.30468171,7.0781725 3.16405496,7.0781725 Z M14.7069962,27 L14.7069962,18.3281457 C14.7069962,16.9609617 14.9023079,15.9258077 15.2929323,15.2226843 C15.8007439,14.2851866 16.679648,13.8164377 17.9296448,13.8164377 C19.1796415,13.8164377 20.0194838,14.3437802 20.44917,15.3984652 C20.6835444,16.023464 20.8007317,17.0390862 20.8007317,18.4453329 L20.8007317,27 L26.2499374,27 L26.2499374,17.3906479 C26.2499374,14.6953418 25.859313,12.7031591 25.0780652,11.4140997 C24.0624429,9.81254128 22.2851028,9.01176164 19.7460467,9.01176164 C18.4960499,9.01176164 17.4023023,9.32426059 16.4648045,9.9492594 C15.6054312,10.457071 14.9804333,11.1016007 14.589809,11.8828485 L14.5312154,11.8828485 L14.5312154,9.48051052 L9.31638404,9.48051052 L9.31638404,27 L14.7069962,27 Z M5.85936103,27 L5.85936103,9.48051052 L0.410155272,9.48051052 L0.410155272,27 L5.85936103,27 Z' id='Linkedin-icon' fill='%23FFFFFF' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
}
.comment-author.vcard{
    max-width: 60px;
}
.single-post .post-thumbnail img{
    max-height: 800px;
    object-fit: cover;
}
.single-post .post-thumbnail:before{
    content: '';
    display: block;
    height: 100%;
    background-color: #000000;
    width: 100%;
    position: absolute;
    opacity: .3;
}
.single-post .posted-on:after{
    content: '|';
    color: #ffffff;
    padding-left: 10px ;
}
.related-article-image:before{
    content: '';
    display: block;
    height: 100%;
    background-color: #000000;
    width: 100%;
    position: absolute;
    opacity: .3;
    z-index: 1;
}

.post-container:before{
    content: '';
    display: block;
    height: 100%;
    background-color: #000000;
    width: 100%;
    position: absolute;
    opacity: .7;
    z-index: 4;
}
.take-quiz-container:before{
    content: '';
    display: block;
    height: 100%;
    background-color: #000000;
    width: 100%;
    position: absolute;
    opacity: .5;
    z-index: 1;
}
.reading-time:after{
    content: '|';
    color: #ffffff;
    padding-left: 10px;
}
.home-reading-time:after{
    content: '|';
    color: #ffffff;
    padding-left: 10px;
}
.home-hero-image:before{
    content: '';
    display: block;
    height: 100%;
    background-color: #000000;
    width: 100%;
    position: absolute;
    opacity: .5;
    z-index: 4;
}

.post-container.latest-post-7:before{
    display: none;
}
.latest-post-7 {
    margin-top: 0.75rem;
    display: flex ;
    width: 100%;
    flex-direction: row;
}
.footer-text-links{
    padding-left: 10px;
    font-family: "Gotham Book", sans-serif;
    font-weight: 400;
    letter-spacing: 0.9px;
    font-size: 18px;
    white-space: nowrap;

}
#footer-contact li {
    margin-bottom: 20px;
}
.category-post-template .nav-previous:after{
    content: '';
    display: inline-flex;
    width: 10px;
    height: 10px;

    background-size: cover;
    margin-left: 4px;
    margin-top: 6px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10px' height='10px' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M246.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L178.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C47.63 444.9 55.81 448 64 448s16.38-3.125 22.62-9.375l160-160C259.1 266.1 259.1 245.9 246.6 233.4zM438.6 233.4l-160-160c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L370.8 256l-137.4 137.4c-12.5 12.5-12.5 32.75 0 45.25C239.6 444.9 247.8 448 256 448s16.38-3.125 22.62-9.375l160-160C451.1 266.1 451.1 245.9 438.6 233.4z'/%3E%3C/svg%3E");
}
.category-post-template .nav-next :before{
    content: '';
    display: inline-flex;
    width: 10px;
    height: 10px;
    background-size: cover;
    margin-right: 4px;
    margin-top: 6px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10px' height='10px' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M77.25 256l137.4-137.4c12.5-12.5 12.5-32.75 0-45.25s-32.75-12.5-45.25 0l-160 160c-12.5 12.5-12.5 32.75 0 45.25l160 160C175.6 444.9 183.8 448 192 448s16.38-3.125 22.62-9.375c12.5-12.5 12.5-32.75 0-45.25L77.25 256zM269.3 256l137.4-137.4c12.5-12.5 12.5-32.75 0-45.25s-32.75-12.5-45.25 0l-160 160c-12.5 12.5-12.5 32.75 0 45.25l160 160C367.6 444.9 375.8 448 384 448s16.38-3.125 22.62-9.375c12.5-12.5 12.5-32.75 0-45.25L269.3 256z'/%3E%3C/svg%3E");
}
.category-post-template article{
    -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}
#input-btn-child:focus-visible{
    outline: 0 !important;
}
input:focus, textarea:focus, keygen:focus, select:focus {
    outline: 0 !important;
}
.wp-block-social{
    display: flex;
    justify-content: space-between !important;
    max-width: 260px;
    margin: 0 !important;
}
.custom-html-widget .footer-columns.contact {
    padding: 0 !important;
    margin-left: 20px;
}
.related-container:before{
    content: '';
    display: block;
    height: 100%;
    background-color: #000000;
    width: 100%;
    position: absolute;
    opacity: .4;
    z-index: 4;
}
.blocks-gallery-grid, .wp-block-gallery {
    display: flex;
    flex-wrap: nowrap !important;
    justify-content: space-around;
}
.posts-navigation{
    width: 100%;
}
.category .attachment-post-thumbnail{
    height: 350px;
    object-fit: cover;
}
.single-post .entry-content p{
    letter-spacing: 0.3px;
}
.single-post .entry-content h1,
.single-post .entry-content h2,
.single-post .entry-content h3{
    text-align: left !important;
}
.single-post .entry-content h4{
    text-align: center !important;
    font-family: Gotham Book, sans-serif;
    font-size: 22px;
    line-height: 2.25rem;
    letter-spacing: 0.22px;
    --tw-text-opacity: 1;
}
.single-post iframe {
    max-width: 750px;
    margin: 0 auto;
}
.related-title-articles{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.latest-post-title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.title-post-7{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.post-author-category{
    top:43% ;
}
.single-post .entry-content p strong{
    font-family: Gotham Bold, sans-serif;
    font-size: 26px;
    line-height: 2.25rem;
    letter-spacing: 0.22px;
    --tw-text-opacity: 1;
}
.single-post .entry-content p a{
    font-family: Gotham Book, sans-serif;
    color: #F26C21;
}
.latest-post-3 .latest-post-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    top: 35% !important;
}
.latest-post-3 a.post-read-more{
    top: 55% !important;
}
.latest-post-3 .post-author-category{
    top: 25% !important;
}
.related-button{
    white-space: nowrap;
    font-family: "Gotham Medium", sans-serif;
}
.quiz-subtitle{
    top: 30% ;
}
.quiz-title{
   top: 40% ;
}
.quiz-btn{
    top: 55%;
}
.single-post-prod{
    margin-bottom: 20px !important;
}
.wp-block-image img{
    max-height: 700px;
    object-fit: cover;
}
.wp-block-image.is-resized{
    margin: 0 auto;
}
.second-header-title{
    font-family: "Gotham Bold", sans-serif !important;
}
#second-menu{
    display: flex;
    width: 100%;
    gap: 30px;
}
.category .current-menu-item  a{
    color: #F26C21;
    padding: 10px 15px;
    border-bottom: 3px solid #F26C21;
}
.second-menu-container{
    max-width: 1500px;
    margin: 0 auto;
}
#second-menu li a{
    white-space: nowrap;
}
#second-menu li a:hover{
    color: #F26C21;
    border-bottom: 3px solid #F26C21;
}
.category .second-menu-container{
    border-bottom: 3px solid #153B57;
    padding-bottom: 7px;
}
.post-2-3-section{
max-width: 1500px;
}
.post-main-content{
    position: absolute;
    top: 45%;
    left: 0px;
    right: 0px;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 1.25rem;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.post-home-title{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 55%;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    max-width: 340px;
    text-align: center;
    font-family: Gotham Bold, sans-serif;
    font-size: 22px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.post-reading-time:after{
    content: '|';
    color: #ffffff;
    padding-left: 10px;
}
.post-home-btn{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 67%;
    z-index: 20;
    margin-top: 0.625rem;
    text-align: center;
    font-family: Gotham Bold, sans-serif;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.post-4-container{
    max-width: 1500px;
}
.post-home-btn:hover{
    border-bottom-width: 3px;
    --tw-border-opacity: 1;
    border-color: rgb(242 108 33 / var(--tw-border-opacity));
}
.post-4 .post-home-btn{
    top: 65%;
    height: 50px;
    width: 16rem;
    border-radius: 1.5rem;
    background-color: #153B57;
    line-height: 2.25rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    padding: 6px;
}
.post-4 .post-home-btn:hover{
    --tw-bg-opacity: 1;
    background-color: #fff;
    --tw-text-opacity: 1;
    color: #153B57;
    border: 0;
}
.post-home-image{
    background-size: cover;
}
.post-8-btn{
    height: 40px;
    width: 11rem;
    border-radius: 1.5rem;
}

.post-8-btn{
    width: 16rem;
    height: 50px;
    padding-top: 6px;
}
.post-4 .post-main-content{
    top: 35%;
}
.post-home-title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: center;
}
.single-post .entry-content .wp-block-image figcaption {
    max-width: 750px;
    margin: 0 auto;
}
.post-category{
    text-underline-offset: 2px;
}
@media only screen and (max-width: 1023px) {
    .footer-columns h4 +div {
        display: none;
    }
    .footer-columns.active h4 +div{
        display: block;
    }
    .footer-columns.contact:nth-child(2){
        display: none;
    }
    .footer-columns.contact.active +.contact {
        display: flex;
    }

    footer .footer-columns h4:after{
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='%23fff' viewBox='0 0 24 24'%3E%3Cpath d='M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z'%3E%3C/path%3E%3C/svg%3E");
        display: inline-block;
        height: 10px;
        width: 10px;
        background-repeat: no-repeat;
        float: right;
        padding-right: 25px;
    }
    footer .footer-columns.active h4:after{
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12px' height='10px' fill='%23ffffff' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M416 352c-8.188 0-16.38-3.125-22.62-9.375L224 173.3l-169.4 169.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25C432.4 348.9 424.2 352 416 352z'/%3E%3C/svg%3E");        width: 10px;
        background-repeat: no-repeat;
        float: right;
        padding-right: 25px;

    }
    footer .footer-columns.active:after{
        transform: translate(2px,0) rotate(-180deg);
        padding-top: 2px;
    }
    footer h4{
        padding-bottom: 4px;
        padding-top: 4px;
        border-top: 1px solid #2b2b2b;
    }
    .wp-block-social{
        margin-left: 20px;
    }
    .footer-text-links{
        padding-left: 10px;
        font-family: "Gotham Book", sans-serif;
        font-weight: 400;
        letter-spacing: 0.9px;
        font-size: 16px;
        white-space: nowrap;

    }
    .category-post-template article{
        width: 94% !important;
        margin: 0 auto;
    }
    .single-post header.entry-header{
        top: 250px;
    }
    .single-post .entry-header .entry-title{
        font-size: 38px;
        width: 100%;
        max-width: 88% !important;
        line-height: 50px;
    }
    .single-post iframe{
        max-width: 550px !important;
        padding-left: 10px;
        padding-right: 10px;
    }
    .post-prod-title{
        bottom: 20% !important;
    }
    .latest-post-1,
    .latest-post-2{
        margin: 0 auto;
    }
    .latest-post-2{
        margin-top: 0 !important;
    }
    .latest-post-4,
    .latest-post-5,
    .latest-post-6{
        margin: 0 auto;
    }
    .latest-post-5,
    .latest-post-6{
        margin-top: 0 !important;
    }
    .header-menu-desktop{
        height: 45px;
    }
    .quiz-title{
        max-width: 450px !important;
    }
    .quiz-btn{
        top: 55% ;
    }
    body.mobile-menu-open{
        overflow: hidden;
    }
    .post-8-btn,
    .post-4 .post-home-btn{
        width: 11rem;
        height: 40px;
        padding-top: 0;
    }
    .post-4 .post-main-content{
        top: 30%;
    }
}
/*Mobile */
@media only screen and (max-width: 768px) {

    .single-post .entry-content {
        padding: 0 15px;
    }
    .single-post .entry-content figure iframe {
        max-width: 400px;
    }
    .single-post header.entry-header {
        position: absolute;
        width: 100%;
        top: 240px;
        text-align:center;
        display: flex;
        flex-direction: column-reverse;

    }
    .related-0{
        height: 250px;
    }
    .related-0 .related-button {
        height: 35px;
        width: 150px;
        line-height: 35px;
        font-size: 16px;
    }
    .footer-columns.title h4{
        padding-left: 15px;
    }
    .single-post .post-thumbnail img{
        height: 400px;
        object-fit: cover;
    }
    .single-post iframe{
        max-width: 350px !important;
        padding-left: 10px;
        padding-right: 10px;
    }
    .quiz-title{
        max-width: 350px !important;
        top: 35%;
    }
  .quiz-subtitle{
      top: 25%;
  }
    .quiz-btn{
        top: 65% !important;
    }
    #footer-contact,
    .wp-block-social{
        margin-left: 20px !important;
    }
    #second-menu{
        justify-content: flex-start;
        width: 100%;
        max-width: 600px;
        overflow: scroll;
        padding-bottom: 15px;
        padding-left: 10px;
    }
    #second-menu::-webkit-scrollbar{
      display: none;
    }
    #second-menu a{
        white-space: nowrap;
    }
}
@media only screen and (max-width: 600px) {
    #second-menu{
        max-width: 400px;
        gap: 20px;
    }
}
@media only screen and (max-width: 400px) {
    #second-menu{
        max-width: 350px;
        gap: 15px;
    }
}
@media only screen and (min-width:1024px) and (max-width: 1580px) {
.home-latest-post{
    max-width: 1280px;
}

    .single-post .entry-header .entry-title{
        font-size: 40px;
    }
    .single-post header.entry-header{
        top: 260px !important;
    }
    .title-post-7{
        top: 40% !important;
    }
    .post-7-btn{
        top: 55% !important;
    }
}