.site-footer{
  padding: 40px 0;
  background-color: #646567;
  color:#ebebeb;
  text-transform:uppercase;
  z-index:-1;
  a{
    padding:12.5px 0;
    font-size:16px;
    color:#ebebeb;
    text-decoration:none;
    &:visited{
      color:#EBEBEB;
    }
    &:hover{
      text-decoration:underline;
    }
  }
  .footer-columns{
    float:left;
    &.social-icon-section{
      float:right;
    }
  }
  .copyright{
    display:inline-block;
    padding-top:20px;
    text-transform:none;
  }
  .footer-logo{
    margin-bottom:65px;
  }
  .address-block a{
    margin-bottom:15px;
    display:inline-block;
  }
  .address{
    font-style:normal;
  }
  .address:before, .telephone:before{
    content: "\e948";
    font-size: 25px;
    font-family: 'bmk',sans-serif;
    width: 35px;
    height: 35px;
    display: inline-block;
    float: left;
  }
  .telephone:before{
    width: 26px;
    content: "\e94b";
    font-size: 20px;
    margin-top: -6px;
  }
  .footer-block-heading {
    font-size: 20px;
    font-family: "Trade Gothic Bold Twenty",sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin-top:15px;
    margin-bottom: 20px;
  }
  .social-icons {
    margin-top: 18px;
    a{
      font-size:0;
      margin-right: 25px;
    }
  }

  .icon-facebook:before, .icon-twitter:before, .icon-insta:before {
    width: 35px;
    height: 35px;
    display: inline-block;
    font-family: 'bmk',sans-serif;
    color: #d5d5d5;
  }
  .icon-facebook:before {
    font-size: 34px;
    content: "\e945";
  }
  .icon-twitter:before {
    font-size: 34px;
    content: "\e94d";
  }
  .icon-insta:before {
    font-size: 34px;
    content: "\e947";
  }
  .benchmade-forum {
    margin-top: 30px;
    border-top: 1px solid #c1c2c2;
    padding-top: 10px;
    width: 70%;
  }
  .privacy-policy {
    margin-top: 80px;
    border-top: 1px solid #c1c2c2;
    padding-top: 12px;
    ul{
      list-style:none;
      padding:0;
      margin:0;
      li{
        display:inline-block;
        padding: 0 7px;
        border-right: 1px solid #8d8d8f;
        &:first-child{
          padding-left:0;
        }
        &:last-child{
          border-right:0;
        }
      }
    }
  }

  .mobile-navigation{
    display:none;
  }
}

@media screen and (max-width: 767px) {
  .site-footer{
    padding-top:0px;
    .content-area{
      padding:0;
    }
    .mobile-navigation{
      display:block;
      border-bottom: 1px solid rgba(255,255,255,.26);
      .footer-block-heading{
        margin:25px 20px 20px 0;
        padding-left:20px;
        position:relative;
        cursor:pointer;
        &:after{
          content: "\f067";
          font-family: "Font Awesome 5 Free",sans-serif;
          font-size: 18px;
          font-weight: 300;
          color: #fff;
          position: absolute;
          right: 20px;
          top: 2px;
        }
        &.activeTab:after{
          content: "\f068";
        }
      }
      .block-content{
        display:none;
      }
      .social-icons{
        padding-bottom:10px;
        a{
          display:inline-block;
          width:32%;
          text-align:center;
          margin-right:0;
        }
      }
    }
    .footer-logo{
      margin-bottom:25px;
      margin-top:30px;
    }
    .footer-columns, .footer-columns.social-icon-section {
      float:none;
      text-align:center;
      .footer-block-heading, .social-icons{
        display:none;
      }
    }
    .benchmade-forum{
      width:100%;
    }
    .address:before, .telephone:before{
      content: "";
      width: 0;
      height: 0;
      float: none;
    }
    .privacy-policy{
      margin-top:30px;
    }
  }
}