.admin-bar .site-header {
  top: 32px;
}

.site-header{
  background-color: #153b57;
  position:fixed;
  width:100%;
  top:0;

  .site-title{
    position:relative;
    text-transform: uppercase;
    font-family: $font__header;
    text-align:center;
    a{
      text-decoration:none;
      color:$color__link-header;
    }
  }
  .logo{
    margin-top:20px;
    width:240px;
    color:white;
  }
  .content-area{
    padding: 0 20px;
    height:78px;
  }
  .site-branding, .main-navigation, .blog-logo{
    width:100 / 3 * 1%;
    float:left;
  }
  .blog-logo{
    padding-top:12px;
    text-align:center;
    img {
      max-height:50px;
    }
  }
}

@media screen and (max-width: 767px) {
  .site-header{
    .logo{
      margin-top:28px;
    }
    .site-branding{
      padding-right:20px;
    }
    .blog-logo{
      padding:22px 20px 0;
    }
  }
}