body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top:78px;
}

.site-content {
  flex: 1 0 auto;
}

.site-header, .site-footer {
  flex-shrink: 0;
}

.content-area {
  float: none;
  margin:0 auto;
  width:100%;
  max-width: $size__site-content;
  padding:0 20px;
}

.clear{
  @include clearfix-after;
}
