@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
@layer base {
    footer .menu .menu-item a{
        @apply text-xs mb-2 block font-gotham font-normal pl-4 lg:pl-0 hover:underline;
    }
    .wp-block-social-links{
        @apply mt-4;
    }
    .single-post .main-content-area{
        @apply  w-full;
    }
    .single-post  .entry-content{
        @apply max-w-xl mx-auto ;
    }
    .single-post  .entry-header .entry-title{
        @apply z-10 absolute text-white left-0 right-0 mx-auto top-45 lg:top-50 text-center lg:text-60 font-gotham-bold max-w-340  lg:max-w-xl font-bold uppercase mt-4 ;
    }
    .single-post .post-thumbnail{
        @apply relative ;
    }
    .single-post header.entry-header{
        @apply absolute w-full lg:top-400 text-center flex flex-col-reverse mt-6;
    }
    .single-post header.entry-header .entry-meta{
        @apply flex text-s text-white lg:font-gotham font-gotham-bold text-center mx-auto pb-5 ;
    }
    .single-post .posted-on{
        @apply pr-2.5;
    }
    .single-post .categories{
        @apply flex flex-row underline underline-offset-2;
    }
    .single-post .categories li{
        @apply pr-2.5;
    }
    .single-post .comment-count{
        @apply hidden;
    }
    .single-post .entry-content{
        @apply mt-6 ;
    }
    .single-post .entry-content h1{
        @apply text-grey font-gotham-bold text-38 mx-auto max-w-m leading-9 tracking-tight py-6 ;
    }
    .single-post .entry-content h2{
        @apply text-grey font-gotham-bold text-2xl text-left mx-auto max-w-m leading-9 tracking-tight py-6 ;
    }
    .single-post .entry-content h3{
        @apply text-grey font-gotham-bold text-2xl mx-auto max-w-m leading-9 tracking-tight py-6 ;
    }

    .single-post .entry-content p{
        @apply max-w-m py-2.5 mx-auto font-gotham text-l text-light-dark;
    }
    .single-post .entry-content .wp-block-image figcaption{
        @apply  text-grey font-gotham text-xs font-light tracking-tight text-center pt-1.5 leading-5;
    }
    .single-post .entry-footer{
        @apply max-w-xl mx-auto flex flex-col;
    }
    .single-post .comments-area,
    .single-post .nav-links,
    .single-post .entry-footer{
        @apply hidden;
    }
    .related-articles{
        @apply flex flex-row justify-between items-stretch max-w-2xl mx-auto flex-wrap;
    }
    .related-0{
        @apply relative w-full bg-no-repeat bg-cover h-600 lg:h-500;
    }
    .related-1,
    .related-2,
    .related-3{
        @apply  relative w-2/3 lg:w-32.3 h-300 lg:h-670 pr-4 mx-auto lg:mx-0 mt-8 !important;
    }
    .tailwind-class-generate{
        @apply hidden;
    }
    .related-0 .related-button{
        @apply absolute text-center whitespace-nowrap font-gotham-medium text-white  left-0 right-0 mx-auto text-xs z-10 leading-45 rounded-3xl bg-blue h-50 top-75 w-64 mt-8;
    }
    .related-1 .related-button,
    .related-2 .related-button,
    .related-3 .related-button{
        @apply absolute text-white whitespace-nowrap font-gotham-medium font-bold text-center top-85 left-0 right-0 z-10 text-xs leading-5 tracking-wider mt-2 lg:mt-6;
    }
    .related-title-articles{
        @apply z-10  absolute text-white left-0 right-0 mx-auto top-65 lg:top-73 text-center text-xl lg:text-2xl font-gotham-bold max-w-340  lg:max-w-s font-bold  ;
    }
    .related-0  .related-title-articles {
        @apply z-10  max-w-m text-32 lg:text-40 font-normal px-8 absolute text-white left-0 right-0 mx-auto top-60 lg:top-50 text-center font-gotham-bold lg:max-w-s font-bold  ;
    }
    .related-article-image{
        @apply h-full w-auto bg-contain;
    }
    .related-main-title{
        @apply text-black text-center font-gotham-bold font-bold mx-auto text-38 uppercase leading-10 tracking-widest pb-8 ;
    }
    .home-latest-post{
        @apply flex flex-row justify-between items-stretch max-w-2xl mx-auto flex-wrap;
    }
    .generate-tailwind-classes{
        @apply hidden !important;
    }
    .latest-post-1,
    .latest-post-2{
        @apply w-2/3  lg:w-49.2 h-300 lg:h-670  my-10;
    }
    .latest-post-1 .post-read-more,
    .latest-post-2 .post-read-more{
        @apply font-gotham-bold hover:border-b-3 hover:border-orange mx-auto max-w-100 ;
    }
    .latest-post-3{
        @apply w-full h-60 lg:h-600;
    }
    .latest-post-3 .latest-post-title{
        @apply max-w-m text-32 lg:text-40 font-normal px-8  top-25 lg:top-50;
    }
    .latest-post-3 a.post-read-more {
        @apply z-10 absolute font-gotham-bold  text-center text-white font-gotham-medium  left-0 right-0 mx-auto text-xs z-10 leading-9 lg:leading-45 rounded-3xl bg-blue h-40 lg:h-50 top-65  w-44 lg:w-64 mt-5  mt-10  hover:bg-white hover:text-blue;

    }
    .latest-post-3 .post-author-category{
        @apply absolute flex text-white text-center mx-auto pb-5 z-10 top-20 lg:top-33 lg:top-40 justify-center text-center left-0 right-0;

    }
    .home-hero-image{
        @apply relative h-60 lg:h-750 bg-no-repeat bg-cover;
    }
    .home-hero-title{
        @apply z-10 absolute lg:text-60 text-white text-center font-gotham-bold top-33 max-w-xs lg:max-w-l mx-auto left-0 right-0 uppercase font-extrabold text-32;
    }

    .home-hero-btn{
        @apply z-10 absolute text-center text-black font-gotham-bold font-extrabold  left-0 right-0 mx-auto text-xs z-10 leading-9 lg:leading-45 rounded-3xl bg-white h-40 lg:h-50 top-60 lg:top-60 w-44 lg:w-64 mt-8  mt-12 hover:bg-blue hover:text-white ;
    }
    .post-container{
        @apply relative flex flex-col;
    }
    .latest-post-title{
        @apply z-10 absolute text-white left-0 right-0 mx-auto top-45 lg:top-50 text-center text-xl lg:text-2xl font-gotham-bold max-w-340  lg:max-w-s font-bold  ;
    }
    .post-read-more{
        @apply absolute z-20 text-white font-gotham-bold  left-0 right-0 font-gotham font-bold text-center top-70 lg:top-63 mt-2.5 ;
    }
    .latest-post-4,
    .latest-post-5,
    .latest-post-6{
        @apply w-2/3 lg:w-32.3 h-300 lg:h-670 pr-4  lg:mx-0 mt-10 mb-8;
    }
    .latest-post-4 .latest-post-title,
    .latest-post-5 .latest-post-title,
    .latest-post-6 .latest-post-title{
        @apply lg:max-w-md ;
    }
    .latest-post-4 .post-read-more,
    .latest-post-5 .post-read-more,
    .latest-post-6 .post-read-more{
        @apply hover:border-b-3 font-gotham-bold top-63 hover:border-orange mx-auto max-w-100 ;
    }

    .latest-post-8 .post-read-more,
    .latest-post-9 .post-read-more{
        @apply hover:border-b-3 font-gotham-bold  hover:border-orange mx-auto max-w-100 ;
    }
    .latest-post-8,
    .latest-post-9 {
        @apply w-2/3 lg:w-49.2 h-300 lg:h-670 my-2 lg:my-10 mx-auto lg:mx-0;
    }
    .home-take-quiz{
        @apply relative mx-auto  left-0 right-0 ;
    }
    .take-quiz-container{
        @apply h-560 lg:h-750 bg-no-repeat bg-cover ;
    }
    .take-quiz-main{
        @apply  mx-auto ;
    }
    .quiz-title{
        @apply z-10 absolute lg:text-3xl text-white text-center font-gotham-bold  max-w-xs lg:max-w-s mx-auto left-0 right-0 uppercase font-extrabold text-40 leading-55;
    }
    .quiz-btn{
        @apply absolute text-center text-white  left-0 right-0 mx-auto text-xs z-10 leading-51 font-gotham-medium rounded-3xl bg-orange h-50  w-64 mt-12 hover:bg-white hover:text-orange;
    }
    .quiz-subtitle{
        @apply absolute z-10 text-2xl text-white text-center font-gotham  mx-auto left-0 right-0 font-light  ;
    }
    .post-author-category{
        @apply absolute flex text-white text-center mx-auto pb-5 z-10 top-33 lg:top-40 justify-center text-center left-0 right-0;
    }
    .latest-post-category .post-categories{
        @apply flex flex-row ml-1 font-gotham underline underline-offset-2;
    }
    .latest-post-category .post-categories a{
        @apply pr-2;
    }
    .reading-time{
        @apply pr-1 flex font-gotham;
    }
    .post-container{
        @apply bg-no-repeat bg-cover ;
    }
    .timer-icon{
        @apply w-5 stroke-white stroke-2 mr-2 h-5;
    }
    .latest-post-7{
        @apply  flex flex-col lg:flex-row lg:w-full;
    }
    .post-7-image{
        @apply bg-no-repeat bg-cover h-300 w-2/3 mx-auto lg:mx-0 lg:w-1/3 lg:h-750 ;
    }
    .post-7-title{
        @apply relative h-250 lg:h-300 w-2/3 mx-auto lg:mx-0 lg:h-750 lg:w-full lg:w-1/3 ;
    }
    .title-post-7{
        @apply top-20 lg:top-45 absolute text-28 lg:text-3xl text-black text-center font-gotham-bold max-w-l mx-auto left-0 right-0 font-extrabold max-w-m lg:leading-60  lg:px-12  ;
    }
    .post-7-btn{
        @apply z-10 absolute text-center text-white font-gotham-medium  left-0 right-0 mx-auto text-xs z-10 leading-9 lg:leading-45 rounded-3xl bg-blue h-40 lg:h-50 top-55 lg:top-60 w-44 lg:w-64 mt-5  mt-10  hover:text-orange lg:px-10;
    }
    .home-reading-time{
        @apply  z-20 flex text-white font-gotham;
    }
    .home-post-category{
        @apply z-10 text-white pl-2  font-gotham underline underline-offset-2;
    }
    .hero-reading-cat{
        @apply absolute flex flex-row top-25 left-0 right-0 mx-auto justify-center;
    }
    .footer-columns.title h4{
        @apply pt-5 max-h-10 ;
    }
    .single-post-products{
        @apply w-full ;
    }
    .single-post-prod{
        @apply relative w-2/3 lg:w-49.2 h-300 lg:h-670 mx-auto lg:mx-0  my-10;
    }
    .post-prod-title{
        @apply z-10 absolute text-white left-0 right-0 mx-auto bottom-13  text-center text-xl lg:text-2xl font-gotham-bold max-w-xs lg:max-w-s font-bold uppercase ;
    }
    .post-prod-btn{
        @apply absolute z-20 whitespace-nowrap font-gotham-medium text-xs text-white left-0 right-0 bottom-8 text-center ;
    }
    .copyright{
        @apply  text-center text-xxs font-gotham ;
    }
    .category-post-template{
        @apply flex flex-row justify-between items-stretch max-w-2xl mx-auto flex-wrap;
    }

    .category-post-template article{
        @apply w-full lg:w-1/2 py-4 px-4 mt-8 ;
    }
    .category-post-template article footer a.comment-count{
        @apply hidden ;
    }
    .category-post-template article h2.title {
        @apply  text-l lg:text-xl text-blue  font-gotham-bold  font-bold mt-6 px-4 py-2;
    }
    .category-post-template .footer {
        @apply hidden !important;
    }
    .category-post-template .posted-on{
        @apply text-xs text-blue  font-gotham  mb-4 px-4  ;
    }
    .category-post-template .nav-links{
        @apply flex flex-row-reverse text-xs text-blue font-bold text-center mx-auto underline font-gotham py-8 underline-offset-2 justify-center;
    }
    .category-post-template .nav-previous{
        @apply text-xs text-blue  font-gotham pl-4 ;
    }
    .category-post-template .nav-next{
        @apply  ml-4 ;
    }
    .category-post-template .excerpt p{
        @apply  truncate px-4 pb-4  ;
    }
    .category-read-more{
        @apply text-xs text-blue font-gotham  my-4 mx-4 max-w-75  hover:border-b-3 hover:border-orange;
    }
    .home-instagram-feed{
        @apply max-w-xl mx-auto py-6 ;
    }
    .eapps-instagram-feed-title{
        @apply hidden !important;
    }
    .instagram-title{
        @apply text-center tracking-widest text-black pt-6 text-l lg:text-38 font-extrabold ;
    }
    .instagram-follow-link{
        @apply  text-center tracking-wider text-xs font-bold text-blue py-4;
    }
    .instagram-follow-link a{
        @apply underline;
    }
    .eapps-instagram-feed-posts-item-image-wrapper{
        @apply my-2 mx-2 !important;
    }
    .single-post .post-navigation{
        @apply hidden;
    }
    .slider-tittle{
        @apply top-20 lg:top-45 absolute text-28 lg:text-3xl text-black text-center font-gotham-bold max-w-l mx-auto left-0 right-0 font-extrabold max-w-m lg:leading-60 ;
    }
    .product-single-post{
        @apply lg:flex lg:justify-between;
    }
    .find-dealer{
        @apply font-gotham-medium hover:underline underline-offset-2 ;
    }
}