.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-template-page-home, .archive.category, .search.search-results{
	section.grid{
		article{
			width:50%;
			float:left;
			padding-right:20px;
			margin:20px 0;
			&.even{
				padding-right:0px;
				padding-left:20px;
			}
		}
		a{
			text-decoration:none;
		}
		.title{
			text-align:center;
		}
		.posted-on{
			font-weight:bold;
			text-align:center;
			font-size:20px;
		}
		.excerpt{
			padding:0 40px;
		}
		.footer{
			margin:0 40px;
			border-top:3px solid #f26b21;
		}
		.categories{
			list-style:none;
			display:inline;
			padding:0;
			margin:0;
			li{
				display:inline-block;
				padding-right:20px;
			}
		}
		.comment-count{
			float:right;
			.fa-comments{
				padding-left:5px;
			}
		}
	}
}

.single-post{
	article{
		margin-top:20px;
	}
	.entry-title{
		text-align:center;
		font-size:50px;
	}
	.entry-meta, .entry-content{
		width:50%;
		margin:0 auto;
	}
	.entry-content{
		margin-top:40px;
		font-size:20px;
	}
	.entry-meta{
		a{
			text-decoration:none;
		}
		.posted-on{
			text-align:center;
			font-weight:bold;
			font-size:20px;
		}
		.category-wrapper{
			border-top:3px solid #f26b21;
			margin-top:10px;
			padding-top:10px;
		}
		.categories{
			list-style:none;
			display:inline;
			padding:0;
			margin:0;
			li{
				display:inline-block;
				padding-right:20px;
			}
		}
		.comment-count{
			float:right;
			.fa-comments{
				padding-left:5px;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.page-template-page-home, .archive.category, .search.search-results {
		section.grid {
			article {
				width: 100%;
				padding:0 20px;
				&.even{
					padding:0 20px;
				}
			}
		}
	}
}